@charset "utf-8";
/* CSS Document */

body{
	color:#505050;
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
}
h2{font-size:43px;}

ul{list-style-type:none;padding:0;margin:0;}

.section-top-m{
	margin-top:80px;
}

/***************       LANDING TEXT START           *********************/


.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.home_car.carousel,
.home_car .carousel-inner,
.home_car .carousel-inner .item  {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 999;
}

.slider_contnt {
	display: flex;
    color: #fff;
    align-items: center;
    height: 100%;
    align-self: center;
    justify-content: center;
    flex-direction: column;

}

.slider_contnt h1{
	font-size:42px;
	line-height:90px;
	font-weight:900
}


.slider_contnt p{
	font-size:33px;
}
.slider_contnt a {
	color: #fff;
    border: 1px solid #fff;
    width:206px;
    text-align: center;
	height:47px;
	line-height:47px;
    border-radius: 28px;
	font-size:22px;
	margin-top: 30px;
}
.mouse {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
	width: 70px;
}

#home_mouse{z-index: 999;}

.mouse:hover{
	 -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}


/***************       LANDING TEXT END           *********************/

header{
	position: fixed;
z-index: 101;
top: 0;
right: 0;
left: 0;
z-index: 9999;
}

.collapse .nav{
    display: none;
}

.navbar-default{
	/*background-color:#fdcc5c;*/
    background-color:transparent;
	border:none;
}

.expertise .navbar-fixed-top{
	background-color:#fdcc5c;
	border:none;
}

.expertise .collapse .nav, .how-work .collapse .nav, .contact .collapse .nav, .projects .collapse .nav{
    display: block;
}

.how-work .navbar-fixed-top{
	background-color:#505050;
	border:none;
}

.contact .navbar-fixed-top{
	background:#fff;
}

.projects .navbar-fixed-top{
	background-color:#fdcc5c;
	border:none;
}

.navbar-default.nav-transparent{
    background: transparent;
}

.navbar-brand{
	height: 94px;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
	font-size:16px;
    font-weight: 500;
}


.projects .navbar-default .navbar-nav > li > a:hover, .projects .navbar-default .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
}

.contact .navbar-default .navbar-nav > li > a:hover, .contact .navbar-default .navbar-nav > li > a:focus {
    color: #000;
    background-color: transparent;
}

.how-work .navbar-default .navbar-nav > li > a:hover, .how-work .navbar-default .navbar-nav > li > a:focus {
    color: #f5f5f5 !important;
    background-color: transparent;
}

.navbar-right {
    margin-top: 20px;
}

/***************       NAV END           *********************/

/***************       ENTERY TEXT START           *********************/

.how-work .entry-text{
	background:#505050;
}

.entry-text{
	background:#fdcc5c;
	font-size: 38px;
line-height: 44px;
position: relative;
height: 100vh;
min-height: 600px;
letter-spacing: 1px;
}

.entry-text .holder {
    display: table;
    width: 100%;
    height: 100%;
}

.entry-text .frame {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}

.entry-text .frame2 {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
	text-align: center;
	color:#fff;
}

.entry-text .frame2 h1{
font-weight:800;
font-size:43px;	
}

.entry-text .frame2 p{
font-weight:normal;
font-size:16px;	
}

/***************       ENTERY TEXT END           *********************/


/***************       EXPERTISE TEXT START           *********************/

.expertise_content{
	width:100%;
	float:left;
}

.expertise_content .section_title{
	text-align:center;
	padding-bottom:45px;
}

.expertise_content .section_title h2{
	padding-bottom:45px;
}

.expertise_content .block_img, .expertise_content .block_text{
	width:100%;
	float:left;
}

.expertise_content .block_text ul{
	float:left;
}

.expertise_content .block_text ul li{
	float:left;
	line-height:22px;
	border-bottom:1px solid #ddd;
	padding: 12px 0;
	width: 100%;
}


.readmore{
	background: #fdcc5c;
    width: 200px;
	height: 55px;
	line-height: 55px;
	color: #fff;
	text-align: center;
	float: left;
	border-radius: 50px;
	margin-top: 30px;
}

/***************       EXPERTISE TEXT END           *********************/

/***************       TESTIMONIAL TEXT START           *********************/



.testimonial {
    width: 100%;
    float: left;
    background: #f5f5f5;
    padding:60px 0 80px;
    margin-top: 80px;
}

h2.testi_heading{
	font-size:22px;
	text-align:center;
	font-weight:500;
	margin:0 0 40px;
}

.testimonial .carousel{
    height: 100%;
    position: relative;
    width: 100%;
}
.testimonial .carousel-inner {
    height: 100%;
    position: relative;
    width: 100%;
}
 .testimonial .carousel-inner .item {
    height: auto;
    width: 100%;
	
}

.testi_item {

    width: 100%;
    float: left;
    border: 1px solid #ddd;
    padding: 30px;

}
.testi_item i {

    position: absolute;
    left: 50px;
    top: 34px;
    opacity: 0.1;

}
.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;

}


#fade-quote-carousel.carousel {
  padding-bottom:0;
}
/*#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}*/
#fade-quote-carousel.carousel .carousel-indicators {
  bottom:-54px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
 background-color: #ccc;
  border: none;
  padding: 0;
}

#fade-quote-carousel.carousel .carousel-indicators > li.active{
    background: #fdcc5c;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
    font-size: 14px;
    padding: 0;

text-align: left;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}


.blockquote-footer {

    font-weight: 700;
    color: #000;
    font-size: 13px;

}

.blockquote-footer span{
    font-weight: 400;
    color: #505050;
    font-size: 13px;
    display: block;
    width: 100%;

}

/***************       TESTIMONIAL TEXT END           *********************/

/***************       FOOTER TEXT START           *********************/



.site-footer {
    background: #505050;
    border-top: none;
    font-size: 13px;
    padding: 40px;
    color: #fff;
	float:left;
	width:100%;
}

.simple-social-icons {
    overflow: hidden;
	margin-top: 15px;
}
.simple-social-icons ul {
    margin: 0;
    padding: 0;
}
.simple-social-icons ul li {
    background: none !important;
    border: none !important;
    float: left;
    list-style-type: none !important;
    margin: 0 6px 12px !important;
    padding: 0 !important;
}
.simple-social-icons ul li {
    margin: 0 7px 0 0 !important;
}
.simple-social-icons ul li a {
    border: none !important;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    display: inline-block;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: normal !important;
    height: 1em;
    line-height: 1em;
    text-align: center;
    text-decoration: none !important;
    text-transform: none !important;
    width: 1em;
}

.simple-social-icons ul li a, .simple-social-icons ul li a:hover, .simple-social-icons ul li a:focus {
    background-color: #fff !important;
    border-radius: 100px;
    color: #505050 !important;
    border: 0px #ffffff solid !important;
    font-size: 15px;
    padding: 8px;
}
.simple-social-icons ul li a img {
    width: 15px;
    height: 15px;
}

.footer-adress {
    font-size: 13px;
    line-height: 22px;
}
a.footer-logo {
    margin-bottom: 15px;
    display: inline-block;
}

img{max-width: 100%;}



.contact .entry-text{
	background: #fff;
}

.contact .entry-text .frame2 h1 {
    color: #505050;
}
.contact .navbar-default .navbar-nav > li > a {
    color: #505050;
}

.contact-detail {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
	background-color: #f0f1f3;
padding: 80px 0;
}

.contact-detail .promo-block-wrapper {
    background: #ffffff;
    display: table;
    width: 100%;
}
.contact-detail .promo-icon {
    width: 82px;
    color: #dadada;
    font-size: 30px;
    text-align: center;
    padding: 0 10px;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #f1f1f1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.contact-detail .promo-icon-blue {
    background: #4f91f1;
    color: #ffffff;
}
.contact-detail .promo-content {
    padding: 30px 40px;
    border: 1px solid #f1f1f1;
        border-left-width: 1px;
        border-left-style: solid;
        border-left-color: rgb(241, 241, 241);
    border-left: 0;
}
.contact-detail .promo-content h3 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.contact-detail .promo-content address {
    line-height: 25px;
}
.contact-detail .promo-icon-yellow {
    background: #fdcc5c;
    color: #ffffff;
}
.contact-detail .promo-icon-green {
    background: #505050;
    color: #ffffff;
}

.contact-section {
    padding: 80px 0;
}
.section-title {
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 30px;
    line-height: 1.5em;
    font-weight: 300;
}
.contact-section .form-group {
    margin-bottom: 17px;
}
.contact-section .form-control {
    border-color: transparent;
    background-color: #f9f9f9;
	    height: 53px;
    padding: 6px 20px;
    font-size: 13px;
    line-height: 24px;
    color: #969595;
    border: 1px solid #F1F1F1;
        border-top-color: rgb(241, 241, 241);
        border-right-color: rgb(241, 241, 241);
        border-bottom-color: rgb(241, 241, 241);
        border-left-color: rgb(241, 241, 241);
    border-radius: 0;
    box-shadow: none;
}
.contact-section textarea {
    padding: 12px 12px;
}
textarea.form-control {
    height: auto !important;
}
.contact-form form button {
    margin-top: 10px;
	border-radius:0px;
	background:#fdcc5c;
	border-color:#fdcc5c;
}
.contact-form form button:hover {
	background:#eebe4f;
	border-color:#eebe4f;
}

.our-location {
    padding: 80px 0;
}

.googleMap {
    height: 500px;
	width:100%;
}

/***************       FOOTER TEXT START           *********************/

/***************       PROJECT TEXT START           *********************/



.projects-block{
	width:100%;
	float:left;
	padding:150px 0;
}
.portfolio-single{
    width: 33.34%;
    float: left;
}
.all-padding{
    padding: 15px;
}
.single-awesome-project {
  overflow: hidden;
}
.awesome-img{
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.awesome-img::after{
  position: absolute;
  left:0;
  top:0;
  background: rgba(253,204,92,0.50) none repeat scroll 0 0;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0;
}
.awesome-img img {
    transform: scale(1.1);
    transition: 0.5s;
}
.single-awesome-project:hover .awesome-img img {
    transform: scale(1);
    transition: 0.5s;
}
.awesome-img > a {
  display: block;
  position: relative;
}
.single-awesome-project:hover .awesome-img > a::after,
.single-awesome-project:hover .awesome-img::after{
	opacity: 1;
}
.single-awesome-project:hover .add-actions{
	opacity: 1;
    top: 50%;
    margin-top: -30px;
}
.single-awesome-project:hover{
    background: rgba(253,204,92,0.90) none repeat scroll 0 0;
}
.awesome-img > a::after {
  background: rgba(253,204,92,0.98) none repeat scroll 0 0;
  content: "";
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  left: 0;
  position: absolute;
  top: 15px;
  right: 0;
  margin: 0 auto;
  opacity: 0;
  transition: 0.4s;
}
.add-actions {
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transition: all 0.4s ease 0s;
  width: 100%;
    z-index: 9999;
}
.project-dec {
  display: inline-block;
}
.project-dec h4 {
  margin-bottom: 5px;
}
.project-dec h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}
.project-dec a {
    color: #fff;
}
.project-dec a:hover {
    color: #fff;
}
.project-dec span {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.project-dec span:hover{
    color:#ffb01b;
}
.awesome-menu {
  padding-top: 10px;
}
.portfolio-heading {
    font-size: 32px;
    margin: 40px 0 20px;
    text-transform: capitalize;
}
.load-btn {
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    margin-top: 30px;
    position: relative;
    transition: 0.5s;
    border: 1px solid #333;
    padding: 10px 40px 10px 20px;
    background: #333;
    transition: 0.5s;
}
.load-btn:after {
    position: absolute;
    content: "\e862";
    right: 15px;
    top: 10px;
    font-family: water;
    font-size: 14px;
}
.load-btn:hover,
.load-btn:focus{
    color: #ffb01b;
    text-decoration: none;
    background: #fff;
    border: 1px solid #ffb01b;
    transition: 0.5s;
}

.portfolio-1-column .portfolio-single{
    width: 100%;
    float: none;
    display: block;
}
.masonry-2-column .portfolio-single,
.portfolio-2-column .portfolio-single{
    width: 50%;
    float: left;
}
.portfolio-4-column .portfolio-single{
    width: 25%;
    float: left;
}

/***************       PROJECT TEXT END           *********************/

/***************       HOW WE WORK TEXT START           *********************/


.howe_work_content{
	width:100%;
	float:left;
	padding:80px 0 50px;
}

.circle-boxes {
    margin: 0 0 75px;
}



.circle-boxes .circle {
    display: block;
    width: 174px;
    height: 173px;
    margin: 0 auto 30px;
    padding: 70px 35px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-image: url(../images/circle1.png);
    background-size: 100% 100%;
}

.circle-boxes h2 {
    font-size:22px;
    font-weight: 700;
    line-height: 18px;
    margin:0 0 20px;
	color:#fdcc5c;
}

.circle-boxes h3 {
    font-size: 16px;
    font-weight: 300;
    line-height: 21px;
    margin: 0;
}

.circle-boxes .circle-box.alt .circle {
    width: 178px;
    height: 177px;
    background-image: url(../images/circle2.png);
}

.circle-boxes .circle-box.alt2 .circle {
    width: 178px;
    height: 177px;
    background-image: url(../images/circle3.png);
}

 .lines {
    max-width: 450px;
    height: 170px;
    margin: 0 auto 64px;
}

.lines .lines-holder.animated, .touchevents .graff-box .lines .lines-holder {
    height: 170px;
}
.lines .lines-holder {
    overflow: hidden;
    height: 0;
    -webkit-transition: height 1s;
    transition: height 1s;
}

.lines .line {
    height: 170px;
    margin: 0 auto;
    -webkit-transition: height 1s;
    transition: height 1s;
}
.line4, .lines .line {
    width: 1px;
    border-left: 2px dashed #505050;
    display: block;
}

.lines .line.left {
    float: left;
    height: 211px;
    margin: -16px 0 0 73px;
    -webkit-transform: rotate(-43deg);
    -ms-transform: rotate(-43deg);
    transform: rotate(-43deg);
}

.lines .line.right {
    float: right;
    height: 211px;
    margin: -16px 73px 0 0;
    -webkit-transform: rotate(43deg);
    -ms-transform: rotate(43deg);
    transform: rotate(43deg);
}

.box {
    line-height:22px;
    max-width: 406px;
    margin: 0 auto 49px;
    text-align: center;
}

.box .pm-box {
    position: relative;
    max-width: 328px;
    margin: 0 auto 85px;
    text-transform: uppercase;
}
.box .pm-holder {
    position: relative;
    height: 220px;
    padding: 8px 80px;
    text-align: center;
    letter-spacing: 1px;
}

.box .pm-holder::after, .box .pm-holder::before {
    position: absolute;
    width: 28px;
    height: 26px;
    content: '';
    bottom: 0;
}

.box .pm-box::before {
    left: 0;
    border: solid #505050;
        border-top-width: medium;
        border-right-width: medium;
        border-bottom-width: medium;
        border-left-width: medium;
    border-width: 3px 0 0 3px;
}
.box .pm-box::after, .box .pm-box::before {
    position: absolute;
    width: 28px;
    height: 26px;
    content: '';
    top: 0;
}

 .box .pm-holder::before {
    left: 0;
    border: solid #505050;
        border-top-width: medium;
        border-right-width: medium;
        border-bottom-width: medium;
        border-left-width: medium;
    border-width: 0 0 3px 3px;
}
.box .pm-holder::after {
    right: 0;
    border: solid #505050;
        border-top-width: medium;
        border-right-width: medium;
        border-bottom-width: medium;
        border-left-width: medium;
    border-width: 0 3px 3px 0;
}

.box .pm-box::after {
    right: 0;
    border: solid #505050;
        border-top-width: medium;
        border-right-width: medium;
        border-bottom-width: medium;
        border-left-width: medium;
    border-width: 3px 3px 0 0;
}

 .box .pm-box h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin: 0;
	color:#fdcc5c;
}

.line4-holder {
    height: 214px;
}

.line4.animated{
    height: 178px;
}
 .line4 {
    height: 0;
    margin: 38px auto 43px;
    -webkit-transition: height 1s;
    transition: height 1s;
}

.line4, .lines .line {
    width: 1px;
    border-left: 2px dashed #505050;
    display: block;
}


.circle-boxes2 {
    font-size: 16px;
    line-height: 21px;
    position: relative;
    max-width: 846px;
    margin: 0 auto 31px;
	color:#fdcc5c;
}

.circle-boxes2 .lines-circle-holder.animated, .circle-boxes2 .lines-circle-holder {
    height: 124px;
}
.circle-boxes2 .lines-circle-holder {
    position: absolute;
    top: 139px;
    right: 0;
    left: 0;
    overflow: hidden;
    height: 0;
    -webkit-transition: height 2s;
    transition: height 2s;
}
.circle-boxes2 .line {
    position: absolute;
    top: 0;
    left: 236px;
    width: 1px;
    height: 124px;
	border-left: 2px dashed #505050;
    -webkit-transform: rotate(55deg);
    -ms-transform: rotate(55deg);
    transform: rotate(55deg);
}
.circle-boxes2 .line.alt {
    right: 236px;
    left: auto;
    -webkit-transform: rotate(-55deg);
    -ms-transform: rotate(-55deg);
    transform: rotate(-55deg);
}

.circle-boxes2 .circle-box {
    margin-bottom: 11px;
}
.circle-boxes2 .circle-big {
    position: relative;
    display: block;
    width: 224px;
    height: 223px;
    margin: 0 auto;
    padding: 74px 30px;
    letter-spacing: 1px;
}
.circle-boxes2 h2.dev_done {
    font-size:22px;
    font-weight:700;
    line-height:24px;
    margin: 0;
    text-transform: uppercase;
}
.circle-boxes2 .circle-big .mask {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/circle4.png) no-repeat;
        background-size: auto auto;
    background-size: 100% 100%;
}
.circle-boxes2 .circle-box.alt {
    float: left;
}

.circle-boxes2 .circle {
    display: block;
    width: 175px;
    height: 175px;
    padding:36px 35px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 3px solid #505050;
    border-radius: 50%;
	margin: 0 auto;
}

.circle-boxes2 .circle-box h3 {
    font-size:22px;
    font-weight: 700;
    line-height:22px;
    margin: 0;
}

.circle-boxes2 .circle-box.alt2 .circle{
	 padding:45px 35px 0 46px;
}

.circle-boxes2 .circle-box.alt2 {
    float: right;
}

.circle-test-holder {
    position: relative;
    max-width: 666px;
    margin: 0 auto 83px;
    padding: 65px 0 0;
}

.circle-test-holder .lines-test-holder {
    position: absolute;
    top: 53px;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    -webkit-transition: height 1s;
    transition: height 1s;
}
.circle-test-holder .lines-test-holder.animated, .touchevents .circle-test-holder .lines-test-holder {
    height: 134px;
}
.circle-test-holder .line5, .circle-test-holder .line7 {
    position: absolute;
    top: 131px;
    right: 50%;
    left: 0;
    height: 1px;
    margin: 1px 210px 0 0;
    border-top: 2px dashed #505050;
}
.circle-test-holder .line6, .circle-test-holder .line8 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    border-left: 2px dashed #505050;
}
.circle-test-holder .line7 {
    right: 0;
    left: 50%;
    margin-right: 0;
    margin-left: 210px;
}
.circle-test-holder .line8 {
    right: 0;
    left: auto;
}

.circle-test {
    position: relative;
    z-index: 3;
    width: 264px;
    height: 263px;
    margin: 0 auto;
    padding:66px 75px;
    text-align: center;
    letter-spacing: 2px;
}

.circle-test h3 {
    font-size:22px;
    font-weight:700;
    line-height: 24px;
    margin: 0;
	color:#fdcc5c;
}

.circle-test .mask {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/circle5.png) no-repeat;
        background-size: auto auto;
    background-size: 100% 100%;
}

.add-test-title {
    font-size:16px;
    line-height:22px;
    max-width: 430px;
    margin: 0 auto 50px;
    text-align: center;
}

.line9-holder {
    height: 130px;
    margin: 0 auto 89px;
}

.circle-boxes2 .line, .line9 {
    border-left: 2px dashed #505050;
}

.line9.animated, .touchevents .line9 {
    height: 130px;
}
.line9 {
    display: block;
    width: 1px;
    height: 0;
    margin: 0 auto;
    -webkit-transition: height 1s;
    transition: height 1s;
}
.final-box {
    font-weight: 400;
    position: relative;
    display: block;
    width: 311px;
    height: 310px;
    margin: 0 auto 101px;
    padding: 90px 60px 0;
    text-align: center;
    text-transform: uppercase;
}
.final-box h4 {
    font-size:22px;
    font-weight:700;
    line-height: 22px;
    margin: 0;
	color:#fdcc5c;
}
.final-box .mask {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/circle6.png) no-repeat;
    background-size: auto auto;
    background-size: 100% 100%;
}



/***************       HOW WE WORK TEXT END           *********************/




@media (max-width:1270px){
    .slider_contnt h1 {
    font-size: 28px;
    line-height: 25px;
    font-weight: 900;
    text-align: center;
}
.slider_contnt p {
    font-size: 18px;
}
.slider_contnt a {
    color: #fff;
    border: 1px solid #fff;
    width: 150px;
    text-align: center;
    height: 41px;
    line-height: 37px;
    border-radius: 30px;
    font-size: 16px;
    margin-top: 15px;
}

}

@media (max-width:1200px){
	.circle-test-holder {
    position: relative;
    max-width: 666px;
    margin: 210px auto 83px;
	}
}

@media (max-width:990px){
.navbar-brand {
    height: 63px;
}    
.slider_contnt h1 {
    font-size:22px;
    line-height: 25px;
}    

.navbar-brand > img {
    display: block;
    width: 149px;
}
.line4, .line4-holder, .lines .line.right {
    display: none;
}
.lines .line {
    display: none;
    border-left: 1px dashed #505050;
}
.lines .line.left {
    display: block;
    float: none;
    height: 145px;
    margin: -40px auto 39px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}
.circle-boxes2 {
    max-width: 320px;
    margin: 60px auto 24px;
}
.circle-boxes2 .lines-circle-holder {
    top:185px;
}
.circle-boxes2 .lines-circle-holder.animated, .touchevents .circle-boxes2 .lines-circle-holder {
    height: 124px;
}
.circle-boxes2 .line {
    left: 104px;
    height: 95px;
    -webkit-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    transform: rotate(24deg);
    border-left-width: 1px;
}
.circle-boxes2 .line.alt {
    right: 104px;
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
}
.circle-boxes2 .circle-box {
    margin-bottom: 115px;
}
.circle-boxes2 .circle-big {
    width: 152px;
    height: 151px;
    padding:40px 30px;
}

.circle-boxes2 .circle-big h2 {
    font-size:14px;
    line-height:16px;
}
.circle-boxes2 .circle-box.alt {
    margin: 0 0 0 24px;
}
.circle-boxes2 .circle {
    width: 106px;
    height: 106px;
    padding:14px 21px 0;
    border-width: 2px;
}
.circle-boxes2 .circle-box h3 {
    font-size:14px;
    line-height:16px;
}
.circle-boxes2 .circle-box.alt2 {
    margin: 0 24px 0 0;
}
.circle-boxes2 .circle-box.alt2 .circle{
    width: 106px;
    height: 106px;
    padding: 24px 16px 0 16px;
    border-width: 2px;
}
.circle-boxes2 .circle h3 {
    font-size: 9px;
    line-height: 11px;
}
.circle-test-holder {
    margin-bottom: 50px;
    padding:200px 0 0;
}
.circle-test-holder .lines-test-holder.animated, .circle-test-holder .lines-test-holder.animated .line6, .touchevents .circle-test-holder .lines-test-holder, .touchevents .circle-test-holder .lines-test-holder .line6 {
    height: 100px;
}
.circle-test-holder .lines-test-holder.animated, .touchevents .circle-test-holder .lines-test-holder {
    height: 134px;
}
.circle-test-holder .lines-test-holder {
    position: static;
    overflow: visible !important;
    height: auto;
    height: 0 !important;
}
.circle-test-holder .line5 {
    top: 70%;
    right: 32px;
    left: 34px;
    display: none;
    margin: -1px 0 0;
    border-top: 1px dashed #8c8c8d;
}
.circle-test-holder .line7, .circle-test-holder .line8 {
    display: none;
}
.circle-test-holder .line7, .circle-test-holder .line8 {
    display: none;
}


element {

    visibility: visible;

}
.circle-test-holder .lines-test-holder.animated, .circle-test-holder .lines-test-holder.animated .line6, .touchevents .circle-test-holder .lines-test-holder, .touchevents .circle-test-holder .lines-test-holder .line6 {

    height: 100px;

}
.circle-test-holder .line6 {

    top:62px;
    bottom: auto;
    left: 50%;
    height: 0;
    margin-left: -1px;
    -webkit-transition: height 1s;
    transition: height 1s;
    border-left: 1px dashed #8c8c8d;

}

.expertise_content .section_title {
    text-align: center;
    padding-bottom: 15px;
}

.expertise_content .section_title h2 {
    padding-bottom: 20px;
    font-size: 34px;
}

.readmore {
    margin-bottom: 50px;
}

}